# Build directories
packages/*/build
packages/eas-cli/dist
packages/eas-cli/tmp
scripts/build
dist

# TypeScript
**/*.tsbuildinfo

# Code editors
.idea
.history
.vscode
*.swp
*.swo

# macOS
.DS_Store

# Node
node_modules
**/.yarn/install-state.gz
*-debug.log
*-error.log

# Tests
coverage
