# Build directories
packages/*/build
packages/eas-cli/dist
packages/eas-cli/tmp
scripts/build

# Code editors
.idea
.history
.vscode

# macOS
.DS_Store

# Node
node_modules
*-debug.log
*-error.log

# Tests
coverage
