name: build-and-deploy-worker
# If environment is empty we want to build (for testing)
# and upload (if on `main`, for later deployment).
# If environment is not empty, we want to build and upload (unless
# already uploaded) and deploy.

on:
  workflow_dispatch:
    inputs:
      environment:
        description: '"staging", "production" or empty'
        type: string
        required: true
  workflow_call:
    inputs:
      environment:
        description: '"staging", "production" or empty'
        type: string
        required: true

jobs:
  setup:
    runs-on: ubuntu-latest
    if: inputs.environment != ''
    outputs:
      needs-to-build: ${{ steps.check_worker_exists.outputs.worker_exists == 'false' }}
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - uses: ./.github/internal-actions/setup-gcloud

      - name: Check if worker already exists
        id: check_worker_exists
        run: |
          for platform in android ios; do
            GCP_TARBALL="worker-$platform-sha1-$GITHUB_SHA.tar.gz"

            if ! gsutil stat gs://eas-build-worker-tarballs/$GCP_TARBALL; then
              echo "worker_exists=false" >> "$GITHUB_OUTPUT"
              exit 0
            fi
          done

          echo "worker_exists=true" >> "$GITHUB_OUTPUT"

  build-android:
    runs-on: ubuntu-latest
    needs:
      - setup
    if: (!failure() && !cancelled() && inputs.environment == '') || needs.setup.outputs.needs-to-build == 'true'
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.7"

      - name: Build worker tarball
        working-directory: packages/worker
        run: ./package.sh worker-android.tar.gz android

      - uses: ./.github/internal-actions/setup-gcloud

      - name: Upload worker tarball to GCP
        if: github.ref == 'refs/heads/main' || inputs.environment != ''
        working-directory: packages/worker
        run: |
          ARTIFACT_TARBALL="worker-android.tar.gz"
          GCP_TARBALL="worker-android-sha1-$GITHUB_SHA.tar.gz"

          gsutil cp $ARTIFACT_TARBALL gs://eas-build-worker-tarballs/$GCP_TARBALL

  build-ios:
    runs-on: ubuntu-latest
    needs:
      - setup
    if: (!failure() && !cancelled() && inputs.environment == '') || needs.setup.outputs.needs-to-build == 'true'
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - uses: ./.github/internal-actions/setup-gcloud

      - uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4

      - name: Generate signed upload URL
        id: signed_url
        if: github.ref == 'refs/heads/main' || inputs.environment != ''
        run: |
          GCP_TARBALL="worker-ios-sha1-$GITHUB_SHA.tar.gz"

          # Generate a signed URL valid for 30 minutes
          SIGNED_URL=$(gcloud storage sign-url \
            --duration=30m \
            --http-verb=PUT \
            "gs://eas-build-worker-tarballs/$GCP_TARBALL" \
            | tail -n 1 | awk '{print $NF}')

          echo "url=$SIGNED_URL" >> "$GITHUB_OUTPUT"

      - name: Trigger EAS Workflow to build iOS worker
        if: github.ref == 'refs/heads/main' || inputs.environment != ''
        working-directory: packages/worker
        env:
          EXPO_TOKEN: ${{ secrets.STAGING_EXPO_DEV_EXPO_SERVICES_GITHUB_ROBOT_ACCESS_TOKEN }}
          EXPO_STAGING: "1"
        run: |
          npx -y eas-cli@latest workflow:run build-worker.yml \
            --input upload_url="${{ steps.signed_url.outputs.url }}" \
            --non-interactive \
            --wait

  deploy:
    runs-on: ubuntu-latest
    needs:
      - setup
      - build-android
      - build-ios
    if: (!failure() && !cancelled() && inputs.environment != '')
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - uses: ./.github/internal-actions/setup-gcloud

      - name: Promote worker to ${{ inputs.environment }}
        run: |
          for platform in android ios; do
            GCP_TARBALL="worker-$platform-sha1-$GITHUB_SHA.tar.gz"
            WORKER_STAGING_TARBALL="worker-$platform-${{ inputs.environment }}.tar.gz"

            gsutil cp gs://eas-build-worker-tarballs/$GCP_TARBALL gs://eas-build-worker-tarballs/$WORKER_STAGING_TARBALL
          done
