name: CHANGELOG.md PR check

on:
  pull_request:
    types:
      - opened
      - synchronize
      - labeled
      - unlabeled

concurrency:
  group: changelog-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - uses: ./.github/internal-actions/setup-gcloud

      - name: Test
        run: |
          gsutil cp gs://eas-build-worker-tarballs/worker-android-staging.tar.gz gs://eas-build-worker-tarballs/worker-android-test.tar.gz