name: CHANGELOG.md PR check

on:
  pull_request:
    types:
      - opened
      - synchronize
      - labeled
      - unlabeled

concurrency:
  group: changelog-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-changelog-entry:
    name: Check CHANGELOG.md updated
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check if CHANGELOG.md was updated
        id: changelog-updated
        uses: tj-actions/changed-files@v41
        with:
          files: CHANGELOG.md
      - name: Fail if CHANGELOG.md was not updated and the "no changelog" label is absent
        if: steps.changelog-updated.outputs.any_changed == 'false' && !contains(github.event.pull_request.labels.*.name, 'no changelog')
        uses: actions/github-script@v6
        with:
          script: |
            core.setFailed('Please add a changelog entry!')
      - uses: mshick/add-pr-comment@v2.1.0
        if: always()
        with:
          message-id: changelog-entry-check
          refresh-message-position: true
          message: ${{ contains(github.event.pull_request.labels.*.name, 'no changelog') && '⏩ The changelog entry check has been skipped since the "no changelog" label is present.' || '✅ Thank you for adding the changelog entry!' }}
          message-failure: |
            ❌ It looks like a changelog entry is missing for this PR. Add it manually to CHANGELOG.md.
            ⏩ If this PR doesn't require a changelog entry, such as if it's an internal change that doesn't affect the user experience, you can add the "no changelog" label to the PR.
