name: Size
on:
  pull_request:
    types: [synchronize, opened]
concurrency:
  group: size-${{ github.ref }}
  cancel-in-progress: true
jobs:
  compare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-mise
      - uses: preactjs/compressed-size-action@v2
        with:
          build-script: 'build:tarballs:linux'
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          pattern: './packages/eas-cli/dist/*.tar.gz'
          compression: 'none'
          strip-hash: "v\\d+.\\d+.\\d+-\\w+-"
          clean-script: 'clean'
