name: Run tests
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['14', '16', '18']
        include:
          - node: '18'
            coverage: true
    name: Test with Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install --frozen-lockfile --check-files
      - run: yarn typecheck
      - run: yarn test
        if: ${{ !matrix.coverage }}
      - run: yarn test --coverage
        if: ${{ matrix.coverage }}
        env:
          # Oclif seems to cause OOM errors when testing with coverage enabled.
          # Remove this whenever we solved those OOM errors.
          NODE_OPTIONS: --max-old-space-size=4096
      - run: yarn lint --max-warnings=0
      - run: yarn install --frozen-lockfile --check-files
        working-directory: ./scripts
      - run: yarn lint-changelog
      - uses: codecov/codecov-action@v1
        if: ${{ matrix.coverage }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
